[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
transcrypt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "=3.12.7"
python_full_path = "/c/Users/Htet Myat Ko Ko/AppData/Local/Microsoft/WindowsApps/python3"
